<div class="comment-section">
    {{#each this}}
    <section class="comment-card">
        <div class="details">
            <span>by {{user.name}} on {{format_date_day_of_week date}}</span>
        </div>
        <div class="comment-body">
            {{body}}
        </div>
    </section>
    {{/each}}
</div>