<section class="comment-section">
    {{#each this}}
    <article class="comment-card">
        <div class="comment-details">
            <span>by {{user.name}} on {{format_date_day_of_week date}}</span>
        </div>
        <div class="comment-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</section>
