<div>
    {{#if loggedIn}}
        <p class="welcome">Welcome, {{userName}}!</p>
    {{/if}}
</div>

<article id="new-post">
  <h2>Create A New Post</h2>
  <form class="post-form">
    <div>
      <label for="post-title-label">Post Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>

    <div>
      <label for="post-body">Post Body</label>
      <textarea id="post-body" name="post-body"></textarea>
    </div>

    <button type="submit" class="btn">Create Post</button>
  </form>
</article>

{{#if posts.length}}
<section>
  <h2 id="post-history">{{addPossessiveSuffix userName}} Post History</h2>
  {{#each posts as |post|}}
    {{> postData post}}
  {{/each}}
</section>
{{/if}}

<script src="/js/post.js"></script>
